<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mateBlog | Register for more updates...</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>

    <div class="container">
        
        <!-- header section -->
        <div class="row header my-3">
            <div class="col-md-12">
                <img src="../static/images/background.jpg" class="w-100 rounded" style="object-fit: cover; height: 150px;">
            </div>
        </div>


        <!-- navbar section -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded">
            <a href="../index.html" class="navbar-brand mx-5">mateBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="blogs.html" class="nav-link">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="send-message.html" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="register.html" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- main content  -->

        <main class="my-5">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card card-body">
                        <h6 class="text-center mb-3">Register for More Updates</h6>
                        <form action="" class="form">
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for="">First Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter your first name">
                                </div>
                            </div>
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for="">Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter your last name">
                                </div>
                            </div>
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for="">Email</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" placeholder="xyz@gmail.com">
                                </div>
                            </div>
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for="">Gender</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" placeholder="xyz@gmail.com">
                                </div>
                            </div>
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for="">Interest in</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-select">
                                        <option value="" disabled selected>Select Your Interested Topic</option>
                                        <option value="">Java</option>
                                        <option value="">Python</option>
                                        <option value="">C++</option>
                                        <option value="">Web Design</option>
                                        <option value="">Web Development</option>
                                        <option value="">Frontend Development</option>
                                        <option value="">Backend Development</option>
                                        <option value="">Full-Stack Development</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for="">Follow Topics</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Advance Java 
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Spring Boot 
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        RestFul-APIs 
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Spring MVC
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        JavaScript 
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Frontend & BackEnd 
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        Full-Stack 
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        DataBase 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for="">Describe yourself</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea name="" id="" cols="" rows="" class="form-control" style="resize: none;" placeholder="Tell something about you...."></textarea>
                                </div>
                            </div>
                            <div class="row form-group mb-3">
                                <div class="col-md-4">
                                    <label for=""></label>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="submit" class="btn btn-sm btn-primary">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="reset" class="btn btn-sm btn-light" value="Clear">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        
        <!-- footer -->

        <footer id="footer" class="rounded">
            <div class="row pb-2">
                <div class="col-md-6">
                    <h2 class="text-center text-warning">Query:-</h2>
                    <p class="px-5 m-0 text-light">If Any topic missing or you want to know more about any topic then mail us</p>
                    <span class="px-5" style="cursor:pointer"><i class="fas fa-regular fa-envelope text-light" style="margin-right:10px;"></i>nayemuddincucse@gmail.com</span>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center text-warning">Follow me on</h2>
                    <div class="text-center">
                        <span class="icon" title="Instagram" style="cursor:pointer;"><i class="fa-brands fa-instagram text-danger bg-light rounded-circle"></i></span>
                        <span class="icon" title="Facebook" style="cursor:pointer;"><i class="fa-brands fa-facebook text-primary bg-light rounded-circle"></i></span>
                        <span class="icon" title="Twitter" style="cursor:pointer;"><i class="fa-brands fa-twitter text-primary bg-light rounded-circle"></i></span>
                        <span class="icon" title="LinkedIn" style="cursor:pointer;"><i class="fa-brands fa-linkedin text-primary bg-light rounded-circle"></i></span>
                    </div>
                </div>
            </div>
       </footer>

    </div>



    <!-- sctipt tags -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/93a00c0544.js" crossorigin="anonymous"></script>

</body>
</html>